.container {
    margin: 50px;
    padding: 20px 10px;
    width: 50vw;
    height: 70vh;
}

table {
    width: 100%;
}

.name-header, .oracle-header {
    padding-left: 16px;
    font-size: 14px;
}

.name-data, .oracle-data {
    padding-left: 16px;
    font-size: 12px;
}
