<mat-toolbar>
    <button
        mat-icon-button
        class="example-icon"
        [matMenuTriggerFor]="menu"
        (click)="settingsClicked()"
    >
        <mat-icon>settings</mat-icon>
    </button>
    <span class="spacer">Ivy Tracker</span>
</mat-toolbar>
<mat-menu #menu
    ><mat-checkbox
        class="slide-toggle"
        [checked]="isShowcaseToggleChecked"
        (change)="onToggle($event)"
        >Use Showcase version</mat-checkbox
    >
    <button mat-button (click)="callAPI()">Call API</button></mat-menu
>
