<mat-toolbar>
    <button
        mat-icon-button
        class="example-icon"
        [matMenuTriggerFor]="menu"
        (click)="settingsClicked()"
        #menuTrigger>
        <mat-icon>settings</mat-icon>
    </button>
    <span class="spacer">Ivy Tracker</span>
</mat-toolbar>
<mat-menu #menu>
    <!-- <mat-checkbox
        class="slide-toggle"
        [checked]="isShowcaseToggleChecked"
        (change)="onToggle($event)"
        >Use Showcase version</mat-checkbox
    > -->
    <button mat-menu-item (click)="addCardDialog()">Add card to pool</button>
    <button mat-menu-item (click)="removeCardDialog()">Remove cards from pool</button>
    
</mat-menu>
